@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-200;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer components {
  .bar {
    @apply bg-gradient-bar dark:bg-dark-gradient-bar shadow-lg;
    @apply text-text-primary dark:text-dark-text-primary;
  }

  .nav {
    @apply fixed h-16 w-full z-10;
  }

  .footer {
    @apply mt-auto flex-none;
  }

  .main {
    @apply bg-surface dark:bg-dark-surface;
  }

  .card {
    @apply items-center rounded-lg overflow-hidden;
    @apply bg-gradient-card dark:bg-dark-gradient-card;
    @apply text-text-secondary dark:text-dark-text-secondary;
    @apply transition-all duration-300 ease-in-out;
  }

  .card-hover {
    @apply items-center rounded-lg overflow-hidden;
    @apply bg-gradient-card dark:bg-dark-gradient-card;
    @apply text-text-secondary dark:text-dark-text-secondary;
    @apply transition-all duration-300 ease-in-out;
  }

  .card-hover:hover {
    @apply bg-yellow-100 dark:bg-gray-100;
  }

  .card-square {
    @apply h-96 w-96;
  }

  .card-title {
    @apply text-text-secondary dark:text-dark-text-secondary;
    @apply mx-auto rounded-full p-1 border-2 border-text-primary dark:border-dark-text-primary px-4 text-4xl;
  }

  .icon {
    @apply h-8 w-8;
  }

  .table-container {
    @apply bg-gradient-card dark:bg-dark-gradient-card;
    @apply overflow-x-auto border border-text-secondary rounded-lg;
  }

  .tab-title-active {
    @apply text-text-primary dark:text-dark-text-primary font-bold rounded-lg;
  }

  .tab-title {
    @apply text-text-secondary dark:text-dark-text-secondary rounded-lg;
  }

  .tab-page {
    @apply text-text-secondary dark:text-dark-text-secondary;
    @apply mx-auto w-full items-center rounded-lg overflow-hidden;
    @apply bg-gradient-card dark:bg-dark-gradient-card;
    @apply flex flex-col justify-evenly p-4;
  }

  .lable {
    @apply text-xl font-bold text-text-secondary dark:text-dark-text-secondary;
  }

  .input-color {
    @apply bg-gray-200 dark:bg-gray-700 text-text-secondary dark:text-dark-text-secondary;
  }

  .btn-primary {
    @apply w-96 mt-4 py-2 text-3xl font-bold bg-green-500 text-white rounded hover:bg-green-600;
  }
}